/* Contact Container */
.contact-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 70px;
}

/* Contact Info Section */
.contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact-info h1 {
  font-size: 36px;
  color: #0d4d92;
  margin-bottom: 16px;
}

.contact-info h2 {
  font-size: 24px;
  color: #0d4d92;
  margin-top: 20px;
}

.contact-info h3 {
  font-size: 18px;
  color: #0d4d92;
  margin-top: 16px;
}

.contact-info h3,p {
  line-height: 1.1;
  margin-top: 5px;
}

.contact-info p {
  font-size: 16px;
  color: black;
  line-height: 1.4;
}

/* Contact Form Section */
.contact-form-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact-form-container h2 {
  font-size: 32px;
  color: #0d4d92;
  margin-bottom: 16px;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 15px;
}

.contact-form-container .form-group label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.contact-form-container .form-group input,
.contact-form-container .form-group textarea {
  width: 100%;
  padding: 0 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
}

.contact-form-container .form-group textarea {
  height: 120px;
  resize: vertical;
}

.contact-form-container button {
  padding: 10px 20px;
  background-color: #0061c8;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form-container button:hover {
  background-color: #0d4d92;
}

#contactMessage {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .contact-container {
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }

  .contact-info, 
  .contact-form-container {
      width: 100%;
      padding: 0 20px;
  }

  .contact-info h1 {
      font-size: 28px;
      text-align: center;
  }

  .contact-info h2 {
      font-size: 24px;
      color: #0d4d92;
      margin-top: 20px;
      text-align: center;
  }

  .contact-form-container h2 {
      font-size: 28px;
  }

  .contact-form-container button {
    margin-top: 10px;
    width: 100%;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    padding: 8px;
    font-size: 16px;
    background-color: #0061c8;
    color: #fff;
    cursor: pointer;
  }
}
