/* Global styling to prevent overflow */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Hide any horizontal overflow */
}

/* Home page styling */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden; /* Prevents any overflow on the x-axis */
}

.home-container {
  width: 100%; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  padding: 10px;
  padding: 20px;
  text-align: center;
  background-image: url('../assets/images/vegetables1.png'); /* Ensure this path is correct */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(35 131 129);
  margin-bottom: 0;
  overflow: hidden; /* Prevents the creation of scroll bars */
  position: relative; /* Enables positioning for child elements */
}

.header-content {
  margin-top: 20px;
  background-color: rgba(123 107 107 / 50%);
  padding: 15px;
  border-radius: 8px; /* Rounded corners */
  color: aliceblue;
  font-size: 20px;
  font-weight: 500;
  max-width: 90%; /* Keep the container width suitable for small screens */
  display: inline-block; /* Only takes the necessary width */
}

.header-content p {
  color: aliceblue;
  font-weight: 600;
  font-size: 20px;
}

.become-member-button {
  background-color: #0061c8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.become-member-button:hover {
  background-color: #0056b3;
}

/* 768px to 1024px screen sizes */
@media (min-width: 768px) {
  .home-container {
    padding: 10px; /* Reduce padding for smaller screens */
    background-size: cover; /* Make sure background fits the screen properly */
  }

  .header-content {
    font-size: 18px; /* Decrease font size */
    margin-top: 60px; /* Reduce margin-top */
    padding: 20px; /* Reduce padding for better fit */
    max-width: 90%; /* Keep text within boundaries on smaller screens */
  }

  .header-content p {
    font-size: 16px; /* Decrease font size for smaller text */
  }

  .become-member-button {
    padding: 8px 16px; /* Reduce padding */
    font-size: 14px; /* Reduce font size */
  }
}

/* For larger screens (more than 1024px) */
@media (max-width: 1024px) {
  .home-container {
    height: 100vh; 
    padding: 40px; 
  }

  .header-content {
    margin-top: 80px; 
    font-size: 16px;
    max-width: 100%; /* Keep text within boundaries on smaller screens */
  }

  .header-content p {
    font-size: 16px; 
  }

  .become-member-button {
    padding: 15px 30px; 
    font-size: 18px; 
  }
}