/* Header.css */

@import "~@fortawesome/fontawesome-free/css/all.css";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: #f9f4f9; /* Change the color to match your theme */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
  }
  
  .navbar {
    z-index: 1000;
    width: 100%;
    background-color: #f9f4f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    flex-flow: nowrap;
    flex-wrap: wrap; /* Allows wrapping of items for smaller screens */
    
  }
  
  .navbar__logo {
    display: flex;
    background-color: #f9f4f9; /* Same color as the navbar */
    padding: 5px;  /* Optional: Add padding if needed */
    border: none; 
  }
  
  .navbar__logo img {
    display: block;  /* Removes extra space below the image */
    width: 250px;  /* Adjust the width as needed */
    height: auto;  /* Adjust the height as needed */
    background-color: #f9f4f9;
  }
  
  .navbar__links {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px; /* Space between navigation items */
}

  .navbar__links-left {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    list-style: none;
    padding-left: 25px; /* Add left padding to move it closer to center */
}

.navbar__links-left li a {
  color: #333; /* Set the desired text color */
  text-decoration: none; /* Remove the underline */
  transition: color 0.3s ease; /* Optional: Add a smooth transition for hover effect */
}

.navbar__links-left li a:hover {
  color: #0000f3; /* Optional: Set a color for hover state */
}

.navbar__links-right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    list-style: none;
    padding-right: 2px; /* Add right padding to move it closer to center */
}

.navbar__links-right li a {
  color: #333; /* Set the desired text color */
  text-decoration: none; /* Remove the underline */
  transition: color 0.3s ease; /* Optional: Add a smooth transition for hover effect */
}

.navbar__links-right li {
  color: #0000f3; /* Optional: Set a color for hover state */
} 

.navbar__links-left li,
.navbar__links-right li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 10px;
  transition: background-color 0.3s ease;
}

.logout-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 10px;
  transition: background-color 0.3s ease;
  color: #333; /* Set the desired text color */
  text-decoration: none; /* Remove the underline */
  transition: color 0.3s ease; /* Optional: Add a smooth transition for hover effect */
  cursor: pointer;
  margin-top: 18px;
}

.logout-button:hover {
  color: #0000f3; /* Optional: Set a color for hover state */
}
  
  .navbar__search {
    display: flex;
    align-items: center;
  }
  
  .navbar__search input[type="text"] {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-right: 5px;
  }
  
  .quick-search-form {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 23px;
    padding: 5px 10px;
    padding-left: 0;
  }
  
  .quick-search-form input[type="text"] {
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 3px;
    flex-grow: 1;
    margin-left: 40px;
    padding-right: 3rem; /* Add padding to avoid overlap with the button */
    background-color: transparent;
  }

  /* Dashboard Icon */
.dashboard-icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.dashboard-icon i {
  font-size: 2rem; /* Adjust size as needed */
  cursor: pointer;
  transition: transform 0.2s ease;
  color: var(--normal-blue, #007bff); /* Use a CSS variable or a static color */
}

.dashboard-icon i:hover {
  transform: scale(1.1);
}

 /* Media Queries for Small Screens */
  @media (max-width: 1080px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__links {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .quick-search-form {
        width: 50%;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .quick-search-form input {
        width: calc(100% - 50px);
    }

    .logout-button {
        display: flex;
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
    }

  }
  